body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #f3f3f3;
  padding: 40px;
  width: 600px;
  border-radius: 6px;
}

label {
  display: block;
  margin-top: 20px;
  font-size: 18px;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 16px;
}

button {
  margin-top: 30px;
  padding: 10px 25px;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 8px;
  background: white;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 16px;
  margin-top: 8px;
  display: none;
}

.success {
  color: green;
  font-size: 18px;
  margin-top: 20px;
  display: none;
}
